.code-container {
  position: relative;
}

.code-container .copy-text {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.code-container .copy-btn {
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}


.code-container .copy-message {
  font-weight: bold;
  margin-top: 10px;
  position: absolute;
  top: 45px;
  right: 9px;
}
